<button onclick="switchTab('blog')" id="tab-blog" class="pb-2 border-b-2 border-blue-500 text-blue-400 font-bold text-sm whitespace-nowrap">Blog Feed</button>
<button onclick="switchTab('categories')" id="tab-categories" class="pb-2 border-b-2 border-transparent text-slate-400 text-sm whitespace-nowrap">Explore</button>
<button onclick="switchTab('chat')" id="tab-chat" class="pb-2 border-b-2 border-transparent text-slate-400 text-sm whitespace-nowrap">Global Chat</button>
<button onclick="switchTab('stats')" id="tab-stats" class="pb-2 border-b-2 border-transparent text-slate-400 text-sm whitespace-nowrap">Status DB</button>
<button onclick="switchTab('profile')" id="tab-profile" class="pb-2 border-b-2 border-transparent text-slate-400 text-sm whitespace-nowrap">Profil Saya</button>
<button onclick="switchTab('admin')" id="tab-admin"  class="pb-2 border-b-2 border-transparent text-slate-400 text-sm whitespace-nowrap">Admin</button>